{% extends 'kulsite/app-base.html' %}
{% load staticfiles %}
{% block content %}
<h1 class="about-content-header">About me</h1>
<div class="row">
    <div class="col-md-2 col-sm-0"></div>
    <div class="col-md-8 col-sm-12 about-wrap">
        <div class="media">
            <div class="media-body">
                <h1 class="mt-0">Hi there!</h1>
                <h5>I do programming for a living, but I'm also a published author, hobbyist, dancer, musician,
                    and storyteller! Among other things, I enjoy</h5>
                <ul class="about-list">
                    <li>Hiking</li>
                    <li>Riddles</li>
                    <li>Languages (I'm learning Koine Greek)</li>
                    <li>Good Movies</li>
                </ul>
            </div>
            <img class="about-me-img ml-3" src="{% static 'about/me_headshot.jpg' %}">
        </div>
    </div>
    <div class="col-md-2 col-sm-0"></div>
</div>
{% endblock %}