.body
{
padding-top: 62.4px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Navigation */
.navbar-brand
{
font-family: 'Cabin Sketch', Sans Serif;
font-size: 1.5rem;
transition: all linear 0.1s;
}
.nav-item
{
font-size: 1.1rem;
padding-top:4px;
}
.nav-link
{
font-family: 'Neucha', Sans Serif;
transition: all linear 0.2s;
}
.button-nav
{
font-size:1.3rem;
cursor: pointer;
}
.nav-div
{
color: rgba(255, 255, 255, 0.75);
font-size: 1.3rem;
margin: 0.7rem 0px 0px 0px;
}
.nav-links
{
display:flex;
flex-direction: row;
justify-content: space-around;
}
.nav-ext-icon
{
padding: 0px 5px;
height: 45px;
width: 45px;
display: flex;
justify-content: space-around;
align-items: center
}
.nav-icons
{
color: white;
font-size: 2.5rem;
transition: all linear 0.1s;
border-radius: 3px;
}
.nav-ext-icon:hover
{
background-color: white;
}
.nav-ext-icon:hover .nav-icons
{
color: #3a3a3a;
}

/* Home Page */
.home-wrap
{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.home-name
{
font-size: 7rem;
font-family: 'Cabin Sketch', Sans Serif;
color: white;
text-align: center;
}

/* Hexagon styling */
body {
  color: white;
  background-image: url('/static/home/milky_way.jpg');
  background-color: black;
  max-width: 920px;
  margin: 0 auto;
  padding: 30px;
  bottom: 0;
  top: 0;
}
