{% load staticfiles %}

<html>
<head>
    <title>Nicholas Chera</title>
    {% block head-meta %}
        <meta charset="utf-8">
        <meta name="keywords" content="sidekick, imt, device solutions">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block head-css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% endblock %}
    {% block load-javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script defer type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/'|add:curr_page|add:'.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    {% endblock %}
</head>

<body>
<div class="container-fluid">
    <div class="header">
        {% include 'kulsite/nav.html' %}
    </div>
    <div class="body">
        {% block content %} {% endblock %}
    </div>
</div>
</body>
</html>