<ul class="nav nav-pills nav-fill nav-success noselect">
    {% for page in nav_items %}
    <li class="nav-item">
        <a class='nav-link' href="{{page.url}}">
            <button class="btn btn-block btn-outline-light button-nav {% if page.app_name == curr_page %} active {% endif %}" type="button">
                {{page.page_name}}
            </button>
        </a>
    </li>
    {% endfor %}
    <li class="nav-item nav-links" style="padding-top: 0.7rem;">
        <a class='nav-link nav-ext-icon' href="https://www.linkedin.com/in/nicholas-chera/" target="_blank">
            <i class="nav-icons fab fa-linkedin"></i>
        </a>
        <a class='nav-link nav-ext-icon' href="https://github.com/ffroggy" target="_blank">
            <i class="nav-icons fab fa-github"></i>
        </a>
        <a class='nav-link nav-ext-icon' href="mailto: nachera@live.com" target="_blank">
            <i class="nav-icons far fa-envelope-open"></i>
        </a>
        <a class='nav-link nav-ext-icon' href="https://undertakings.wordpress.com" target="_blank">
            <i class="nav-icons fab fa-wordpress-simple"></i>
        </a>
    </li>
</ul>