{% extends 'kulsite/app-base.html' %}
{% load staticfiles %}
{% block content %}
<h5>View By:</h5>
<div class="btn-group" role="group" aria-label="...">
    <button class="btn disp-picker btn-outline-light" id="position">Position</button>
    <button class="btn disp-picker btn-outline-light" id="project">Project</button>
    <button class="btn disp-picker btn-outline-light active" id="skill">Skill</button>
</div>

<div class="proj-wrap" id="position-content" style="display:none">
    <h2>Position</h2>
</div>

<div class="proj-wrap" id="project-content" style="display:none">
    <h2>Project</h2>
</div>

<div class="proj-wrap" id="skill-content">
    <h1 class="proj-content-header">Languages and Frameworks</h1>
    <div class="periodic">
        <div class="skill-row">
            <div class="skill pyth" id="python">
                <img src="{% static 'projects/python.png' %}" class="skill-icon">
                <p class="skill-descr">Python</p>
            </div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill db" id="sql">
                <img src="{% static 'projects/sql.png' %}" class="skill-icon">
            </div>
        </div>
        <div class="skill-row">
            <div class="skill pyth" id="django">
                <img src="{% static 'projects/django.png' %}" class="skill-icon">
            </div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill js" id="react-native">
                <img src="{% static 'projects/react-native.png' %}" class="skill-icon">
            </div>
            <div class="skill js" id="ember">
                <img src="{% static 'projects/ember.png' %}" class="skill-icon">
            </div>
            <div class="skill db" id="firebase">
                <img src="{% static 'projects/firebase.png' %}" class="skill-icon">
            </div>
        </div>
        <div class="skill-row">
            <div class="skill pyth" id="flask">
                <img src="{% static 'projects/flask.png' %}" class="skill-icon">
            </div>
            <div class="skill js" id="javascript">
                <img src="{% static 'projects/javascript.png' %}" class="skill-icon">
                <p class="skill-descr">Javascript</p>
            </div>
            <div class="skill devops" id="docker">
                <img src="{% static 'projects/docker.png' %}" class="skill-icon">
            </div>
            <div class="skill sysprog" id="java">
                <img src="{% static 'projects/java.png' %}" class="skill-icon">
                <p class="skill-descr">Java</p>
            </div>
            <div class="skill styling" id="bootstrap">
                <img src="{% static 'projects/bootstrap.png' %}" class="skill-icon">
                <p class="skill-descr">Bootstrap</p>
            </div>
            <div class="skill api" id="api-google">
                <img src="{% static 'projects/api-google.png' %}" class="skill-icon">
                <p class="skill-descr">Google APIs</p>
            </div>
            <div class="skill db" id="mongo">
                <img src="{% static 'projects/mongo.png' %}" class="skill-icon">
            </div>
        </div>
        <div class="skill-row">
            <div class="skill pyth" id="tensorflow">
                <img src="{% static 'projects/tensorflow.png' %}" class="skill-icon">
            </div>
            <div class="skill js" id="jquery">
                <img src="{% static 'projects/jquery.png' %}" class="skill-icon">
            </div>
            <div class="skill devops" id="kubernetes">
                <img src="{% static 'projects/kubernetes.png' %}" class="skill-icon">
            </div>
            <div class="skill sysprog" id="c">
                <h1>C</h1>
                <p class="skill-descr">Language</p>
            </div>
            <div class="skill styling" id="scss">
                <img src="{% static 'projects/scss.png' %}" class="skill-icon">
            </div>
            <div class="skill api" id="api-zendesk">
                <img src="{% static 'projects/zendesk.png' %}" class="skill-icon">
                <p class="skill-descr">Zendesk API</p>
            </div>
            <div class="skill db" id="oracle">
                <img src="{% static 'projects/oracle.png' %}" class="skill-icon">
            </div>
        </div>
        <div class="skill-row">
            <div class="skill" id="matlab">
                <img src="{% static 'projects/matlab.png' %}" class="skill-icon">
                <p class="skill-descr">Matlab</p>
            </div>
            <div class="skill js" id="ajax">
                <img src="{% static 'projects/ajax.png' %}" class="skill-icon">
            </div>
            <div class="skill devops" id="win-vm-mgr">
                <img src="{% static 'projects/win-vm-mgr.png' %}" class="skill-icon">
                <p class="skill-descr">Win VM Mgr</p>
            </div>
            <div class="skill sysprog" id="masm">
                <h2>MASM</h2>
                <p class="skill-descr">Assembly</p>
            </div>
            <div class="skill styling" id="css">
                <img src="{% static 'projects/css.png' %}" class="skill-icon">
                <p class="skill-descr">CSS</p>
            </div>
            <div class="skill api" id="api-slack">
                <img src="{% static 'projects/slack.png' %}" class="skill-icon">
                <p class="skill-descr">Slack API</p>
            </div>
            <div class="skill db" id="postgres">
                <img src="{% static 'projects/postgres.png' %}" class="skill-icon">
            </div>
        </div>
        <div class="skill-row">
            <div class="skill os" id="macOS">
                <img src="{% static 'projects/macos.png' %}" class="skill-icon">
                <p class="skill-descr">macOS</p>
            </div>
            <div class="skill os" id="arch">
                <img src="{% static 'projects/arch.png' %}" class="skill-icon">
            </div>
            <div class="skill os" id="ubuntu">
                <img src="{% static 'projects/ubuntu.png' %}" class="skill-icon">
            </div>
            <div class="skill os" id="raspbian">
                <img src="{% static 'projects/raspbian.png' %}" class="skill-icon">
            </div>
            <div class="skill os" id="windows">
                <img src="{% static 'projects/windows.png' %}" class="skill-icon">

            </div>
            <div class="skill os" id="fedora">
                <img src="{% static 'projects/fedora.png' %}" class="skill-icon">
            </div>
            <div class="skill os" id="centos">
                <img src="{% static 'projects/centos.png' %}" class="skill-icon">
            </div>
        </div>
    </div>

</div>
{% endblock %}