{% extends 'kulsite/app-base.html' %}
{% load staticfiles %}
{% block content %}
<h5>View By:</h5>
<div class="btn-group" role="group" aria-label="...">
    <button class="btn disp-picker btn-outline-light active" id="project">Project</button>
    <button class="btn disp-picker btn-outline-light" id="skill">Skill</button>
</div>


<div class="proj-wrap" id="project-content">
    <h1 class="proj-content-header">Projects</h1>
    <div class="row">
        {% for position, projects in pos_projects %}
        <div class="col proj-col-wrap">
            <div class="proj-col-head">
                <h2 class="proj-col-title">{{position.title}}</h2>
                <h5 class="proj-col-header">{{position.organization}}</h5>
                <h5 class="proj-col-header">{{position.date_range}}</h5>
            </div>
            {% for project in projects %}
            <div class="project card proj-card" id="p{{project.id}}">
                <div class="card-body">
                    <div class="proj-card-head">
                        <h5 class="card-title"><b>{{project.name}}</b></h5>
                        <div class="proj-card-meta">
                            <p class="toool proj-mag-{{project.magnitude}}" data-toggle='tooltip' title='Project Size'>{{project.get_magnitude_display}}</p>
                            <p class="toool proj-stat-{{project.status}}" data-toggle='tooltip' title='Project Status'>{{project.get_status_display}}</p>
                        </div>
                    </div>
                    <p class="card-text">{{project.description|slice:"0:35"}}...</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>


<div class="proj-wrap" id="skill-content" style="display:none">
    <h1 class="proj-content-header">Languages and Frameworks</h1>
    <div class="periodic noselect">
        <div class="skill-row">
            <div class="skill pyth" id="s0">
                <img src="{% static 'projects/python.png' %}" class="skill-icon">
                <p class="skill-descr">Python</p>
            </div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill db" id="s1">
                <img src="{% static 'projects/sql.png' %}" class="skill-icon">
            </div>
        </div>
        <div class="skill-row">
            <div class="skill pyth" id="s2">
                <img src="{% static 'projects/django.png' %}" class="skill-icon">
            </div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill-blank"></div>
            <div class="skill js" id="s3">
                <img src="{% static 'projects/react-native.png' %}" class="skill-icon">
            </div>
            <div class="skill js" id="s4">
                <img src="{% static 'projects/ember.png' %}" class="skill-icon">
            </div>
            <div class="skill db" id="s5">
                <img src="{% static 'projects/mongo.png' %}" class="skill-icon">
            </div>
        </div>
        <div class="skill-row">
            <div class="skill pyth" id="s6">
                <img src="{% static 'projects/tensorflow.png' %}" class="skill-icon">
            </div>
            <div class="skill js" id="s7">
                <img src="{% static 'projects/gas.png' %}" class="skill-icon">
                <p class="skill-descr">Google Apps Script</p>
            </div>
            <div class="skill devops" id="s8">
                <img src="{% static 'projects/kubernetes.png' %}" class="skill-icon">
            </div>
            <div class="skill sysprog" id="s9">
                <h1>C</h1>
                <p class="skill-descr">Language</p>
            </div>
            <div class="skill styling" id="s10">
                <img src="{% static 'projects/css.png' %}" class="skill-icon">
                <p class="skill-descr">CSS</p>
            </div>
            <div class="skill api" id="s11">
                <img src="{% static 'projects/api-google.png' %}" class="skill-icon">
                <p class="skill-descr">Google APIs</p>
            </div>
            <div class="skill db" id="s12">
                <img src="{% static 'projects/firebase.png' %}" class="skill-icon">
            </div>
        </div>
        <div class="skill-row">
            <div class="skill pyth" id="s13">
                <img src="{% static 'projects/flask.png' %}" class="skill-icon">
            </div>
            <div class="skill js" id="s14">
                <img src="{% static 'projects/jquery.png' %}" class="skill-icon">
            </div>
            <div class="skill devops" id="s15">
                <img src="{% static 'projects/docker.png' %}" class="skill-icon">
            </div>
            <div class="skill sysprog" id="s16">
                <img src="{% static 'projects/java.png' %}" class="skill-icon">
                <p class="skill-descr">Java</p>
            </div>
            <div class="skill styling" id="s17">
                <img src="{% static 'projects/bootstrap.png' %}" class="skill-icon">
                <p class="skill-descr">Bootstrap</p>
            </div>
            <div class="skill api" id="s18">
                <img src="{% static 'projects/api-zendesk.png' %}" class="skill-icon">
                <p class="skill-descr">Zendesk API</p>
            </div>
            <div class="skill db" id="s19">
                <img src="{% static 'projects/oracle.png' %}" class="skill-icon">
            </div>
        </div>
        <div class="skill-row">
            <div class="skill" id="s20">
                <img src="{% static 'projects/php.png' %}" class="skill-icon">
            </div>
            <div class="skill js" id="s21">
                <img src="{% static 'projects/ajax.png' %}" class="skill-icon">
            </div>
            <div class="skill devops" id="s22">
                <img src="{% static 'projects/win-vm-mgr.png' %}" class="skill-icon">
                <p class="skill-descr">Win VM Mgr</p>
            </div>
            <div class="skill sysprog" id="s23">
                <h2>MASM</h2>
                <p class="skill-descr">Assembly</p>
            </div>
            <div class="skill styling" id="s24">
                <img src="{% static 'projects/scss.png' %}" class="skill-icon">
            </div>
            <div class="skill api" id="s25">
                <img src="{% static 'projects/slack.png' %}" class="skill-icon">
                <p class="skill-descr">Slack API</p>
            </div>
            <div class="skill db" id="s26">
                <img src="{% static 'projects/postgres.png' %}" class="skill-icon">
            </div>
        </div>
        <div class="skill-row">
            <div class="skill os" id="s27">
                <img src="{% static 'projects/arch.png' %}" class="skill-icon">
            </div>
            <div class="skill os" id="s28">
                <img src="{% static 'projects/macos.png' %}" class="skill-icon">
                <p class="skill-descr">macOS</p>
            </div>
            <div class="skill os" id="s29">
                <img src="{% static 'projects/windows.png' %}" class="skill-icon">
            </div>
            <div class="skill os" id="s30">
                <img src="{% static 'projects/raspbian.png' %}" class="skill-icon">
            </div>
            <div class="skill os" id="s31">
                <img src="{% static 'projects/ubuntu.png' %}" class="skill-icon">
            </div>
            <div class="skill os" id="s32">
                <img src="{% static 'projects/fedora.png' %}" class="skill-icon">
            </div>
            <div class="skill os" id="s33">
                <img src="{% static 'projects/centos.png' %}" class="skill-icon">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="skill-detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="skill-modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="skdet-header"></h4>
                <button type="button" class="close" id="skdet-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="skdet-prof">
                    <div id="skdet-p-head">
                        <p class="skdet-p-h-desc">Learning<br>|</p>
                        <p class="skdet-p-h-desc">Beginner<br>|</p>
                        <p class="skdet-p-h-desc">Proficient<br>|</p>
                        <p class="skdet-p-h-desc">Experienced<br>|</p>
                        <p class="skdet-p-h-desc">Master<br>|</p>
                    </div>
                    <div id="skdet-p-level" style="width:50px;">
                    </div>
                </div>
                <p id="skdet-descr"></p>
                <h5>Used in the following: </h5>
            </div>
            <div class="list-group list-group-flush noselect" id="skdet-proj"></div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="project-detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="prdet-header"></h4>
                <button type="button" class="close" id="prdet-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-9">
                        <p id="prdet-descr"></p>
                    </div>
                    <div class="col-lg-3">
                        <h2>Skills</h2>
                        <div id="prdet-skills">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}