{% extends 'kulsite/app-base.html' %}
{% load staticfiles %}
{% block content %}
<div class="home-wrap">
    <p>Test thing</p>
    <p>another test thing</p>

    <div class="honeycomb">
        <div class="ibws-fix">
            <div class="hexagon">
                <div class="hexagontent">Cool beans, let's see how this goes!</div>
            </div>
            <div class="hexagon">
                <div class="hexagontent">Here's another one!</div>
            </div>
            <div class="hexagon">
                <div class="hexagontent">And another one!</div>
            </div>
        </div>
        <div class="ibws-fix">
            <div clas="hexanone"></div>
            <div class="hexagon">
                <div class="hexagontent">and a second row!</div>
            </div>
            <div clas="hexanone"></div>
        </div>
    </div>
</div>
{% endblock %}